<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  ></section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Logo -->
          <div class="mb-4">
            <a class="" href="https://www.tuni.fi/en/">
              <img
                src="https://sites.tuni.fi/app/themes/tampere3/assets/images/logos/tamk2_en-US.svg"
                alt="To main site"
                class=""
              />
            </a>
          </div>
          <!-- Content -->
          <p class="footer-text">
            TAMK FieldLab is situated at Kuntokatu main campus of Tampere
            University of Applied Sciences. Feel free to contact us!
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div
          class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 footer-text"
        >
          <!-- Links -->
          <h3 class="text-uppercase fw-bold mb-4">Contact</h3>
          <p>
            <strong
              ><span lang="EN-US"
                >Tero Haapakoski, Relationship Manager</span
              ></strong
            ><br />
            <span lang="EN-US"
              >Project Manager<br />
              Industrial Engineering<br /> </span
            ><span lang="EN-US"
              >Tampere University of Applied Sciences<br /> </span
            >Kuntokatu 3, 33520 Tampere<br />
            <span lang="EN-US">+358505670153,<strong>&nbsp;</strong></span
            ><a href="mailto:tero.haapakoski@tuni.fi"
              >tero.haapakoski@tuni.fi</a
            >
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4 copyright-text" style="background-color: #303135">
    © <span id="year"></span>
    <a class="text-reset fw-bold" href="https://sites.tuni.fi/fieldlab-en/"
      >TAMK FieldLab</a
    >
    <span>All rights reserved.</span>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<script>
  // Get the current year
  const currentYear = new Date().getFullYear();

  // Update the content of the year element
  document.getElementById("year").textContent = currentYear;
</script>
