{% extends "_base.html" %} {% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <main class="form-signin w-100 m-auto">
      <form role="form" method="post" action="">
        {{ form.csrf_token }}
        <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>

        <div class="form-floating">
          {{ form.email(placeholder="email", class="form-control mb-2") }} {{
          form.email.label }} {% if form.email.errors %} {% for error in
          form.email.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %} {% endif %}
        </div>

        <div class="mb-2">
          <div class="form-floating">
            {{ form.password(id="loginPassword", placeholder="password",
            class="form-control mb-2") }} {{ form.password.label }}
            <i
              class="bi bi-eye-slash position-absolute top-50 end-0 translate-middle-y me-3"
              id="toggleLoginPassword"
              style="cursor: pointer; font-size: 1.5rem"
            >
            </i>
          </div>
          {% if form.password.errors %} {% for error in form.password.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %} {% endif %}
        </div>

        <div class="mb-2">
          <!-- Link to reset password form -->
          <a href="{{ url_for('accounts.forgot_password') }}"
            >Forgot your password?</a
          >
        </div>

        <button class="w-100 btn btn-lg btn-primary-custom" type="submit">
          Sign in
        </button>
        <p class="text-center mt-3">
          New User?
          <a href="{{ url_for('accounts.register') }}">Register now</a>
        </p>
      </form>
    </main>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %} {% block js %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var toggleLoginPassword = document.getElementById("toggleLoginPassword");
    if (toggleLoginPassword) {
      toggleLoginPassword.addEventListener("click", function () {
        const loginPassword = document.getElementById("loginPassword");
        const type =
          loginPassword.getAttribute("type") === "password"
            ? "text"
            : "password";
        loginPassword.setAttribute("type", type);
        this.classList.toggle("bi-eye-slash");
        this.classList.toggle("bi-eye");
      });
    }
  });
</script>
{% endblock %}
